@import url('https://fonts.googleapis.com/css2? family=Ysabeau:wght@1;100&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
}

body{
    display: grid;
    grid-template-areas:
        "cabeca cabeca cabeca cabeca"
        "ladoss princi princi ladosx"
        "rodape rodape rodape rodape";
    grid-template-columns: auto 400px 400px auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.grid_h{
    grid-area: cabeca;
    background-color: black;
    padding: 5px;
    width: 100%;
}

.grid_m{
    grid-area: princi;
    background-color: black;
    padding: 20px;
}

.grid_m p{
    font-family: 'Poppins';
    font-size: 22px;
}

.grid_a{
    grid-area: ladoss;
    background-image: linear-gradient(to right, rgb(179, 14, 194), rgb(60, 16, 141), black);
    padding: 10px;
}

.grid_l{
    grid-area: ladosx;
    background-image: linear-gradient(to left, rgb(179, 14, 194), rgb(60, 16, 141), black);
    padding: 10px;
}

.grid_f{
    grid-area: rodape;
    background-color: black;
    padding: 10px;
    height: auto;
    width: 100vw;
    font-family: 'Poppins';
    padding-top: 40px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3{
    font-weight: 400;
    line-height: 3rem;
    color: rgb(156, 9, 175);
}

.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.sociais2{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.sociais2 li{
    margin: 0 10px;
}

.sociais2 a{
    text-decoration: none;
    color: white;
}

.sociais2 a li{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.sociais2 a:hover i{
    color: rgb(156, 9, 175);
}

.conteiner{
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.logo,.sociais{
    width: 25%;
}

.logo img{
    width: 135px;
    cursor: pointer;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, black, rgb(60, 16, 141), rgb(179, 14, 194));
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s ease-in-out;
}

.menu nav a:hover::after{
    width: 45px;
    color: white;
}

.cor_s{
    color: black;
    list-style-type: none;
}

.sociais button{
    width: 38px;
    height: 38px;
    background-image: linear-gradient(45deg, black, rgb(60, 16, 141), rgb(179, 14, 194));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.sociais button i{
    font-size: 20px;
    color: white;
}

.imagens{
     width: 400px;
}
 
p{
    font-size: 15px;
    text-align: justify;
    position: inherit;
}